body{
	/*background: url(../images/NorthernLights2.jpg) 50% 0 fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;*/
}

.description{
	max-width: 600px;
	display: block;

	background-color: #eeeeee;
	text-align: center;

	margin-top: 50px;
	background-color: rgba(224, 224, 224, 0.8);
}

.description p{
	font-size: 17px;
}

.link-button{
	
}

.link-buttons{
	width: 600px;
	text-align: center;
}

.audio-section{
	display: block;
	width: 600px;

	background-color: #eeeeee;
	text-align: center;

	margin-top: 300px;
	background-color: rgba(224, 224, 224, 0.6);
}

.btn-transparent{
	/*background-color: Transparent;*/
}

.section-divider{
	height: 100px;
	text-align: center;

}

.section-divider .section-title{
	font-size: 22px;
	display: inline-block;
	line-height: 4.5em;
}

.item-row{
	background-color: rgba(224, 224, 224, 0.4);	
}

.item-title{
	background-color: rgba(224, 224, 224, 0.85);
	border-radius: 25px;
	padding: 4px;

	text-align: center;
}

.item-listing{
	margin-top: 10px;
	padding: 5px;
	background-color: rgba(224, 224, 224, 0.85);
}

.item-listing h3{
	text-align:center; 
}

.item-listing p{
	font-size: 17px;
}

#section1{
	background: url(../images/NorthernLights2.jpg) 50% 0 fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 0% 0%;
	height: 700px;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

#section2{
	background: url(../images/CoopDeepCoveHiking.jpg) 50% 0 fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 70% 70%;
	height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

#section3{
	background: url(../images/Piano.jpg) 50% 0 fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	background-position: 70% 30%;
	height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

#personal-projects{
	margin-top: 40px;
}