body{
	background: url(../images/NorthernLights2.jpg) 50% 0 fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
}

.description{
	width: 600px;
	display: block;

	background-color: #eeeeee;
	text-align: center;

	margin-top: 200px;
	background-color: rgba(224, 224, 224, 0.8);
}

.link-button{
	
}

.link-buttons{
	width: 600px;
	text-align: center;
}

.audio-section{
	display: block;
	width: 600px;

	background-color: #eeeeee;
	text-align: center;

	margin-top: 300px;
	background-color: rgba(224, 224, 224, 0.6);
}

.btn-transparent{
	/*background-color: Transparent;*/
}

#northernLights1{
	background: url(../images/NorthernLights1.jpg) 50% 0 fixed;
	background-size: cover;
	background-repeat: no-repeat;
	background-attachment: fixed;
	height: auto;  
    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 100px 0;
}

#northernLights2{
	height: auto; 

    margin: 0 auto; 
    width: 100%; 
    position: relative; 
    box-shadow: 0 0 50px rgba(0,0,0,0.8);
    padding: 200px 0;
}